In [2]:
import pandas as pd
import matplotlib.pyplot as plt

from src.visualizations import *
from src.constants import *

In [ ]:
train_values = pd.read_csv('../'+PATH_DATA_RAW+'train_values.csv', dtype = COLUMN_DTYPE)

In [4]:
train_labels = pd.read_csv('../'+PATH_DATA_RAW+'train_labels.csv', dtype = COLUMN_DTYPE)

## Distribucion de valores y detección de valores anómalos (outliers)

### Boxplot por columna

In [ ]:
for c in NUMERIC_COLUMNS:
    plot_column_boxplot(train_values, c)

### Pie plot por columna (agrupando valores despreciables)

In [ ]:
for c in train_values.columns[4:]:
    plot_column_rate_pie(train_values, c)

### Histograma por columna

In [ ]:
for c in NUMERIC_COLUMNS+CATEGORY_COLUMNS:
    p = sns.histplot(data=train_values, x=c, color='lightblue')
    plt.rcParams.update({'font.size': 18, 'figure.figsize': [15, 10]})
    plt.title(f"Histograma de {c}")
    plt.show()

## Creación de nuevo dataset asociado a train_values parseando todas las columnas a tipo numerico

In [ ]:
CATEGORY_COLUMNS

### Mapeo de columnas categoricas

In [ ]:
CATEGORY_MAP = {}
for i in range(len(CATEGORY_COLUMNS)):
    CATEGORY_MAP[CATEGORY_COLUMNS[i]] = dict(list(zip(train_values[CATEGORY_COLUMNS[i]].unique(), range(1,len(train_values[CATEGORY_COLUMNS[i]].unique())+1))))

In [ ]:
CATEGORY_MAP

In [ ]:
CATEGORY_MAP_INVERSE = {}
for k,v in CATEGORY_MAP.items():
    CATEGORY_MAP_INVERSE[k] = {y:x for x,y in v.items()}

In [ ]:
CATEGORY_MAP_INVERSE

#### Creo copia de train_values

In [ ]:
train_values_parsed_numeric = train_values.copy()

#### Convierto caracter ASCII en numero

In [ ]:
for c in CATEGORY_COLUMNS:
    train_values_parsed_numeric[c] = train_values_parsed_numeric[c].apply(lambda x: CATEGORY_MAP[c][x])
    train_values_parsed_numeric[c] = train_values_parsed_numeric[c].astype('int64')

In [ ]:
train_values_parsed_numeric['legal_ownership_status'].unique()

#### Convierto campo booleano en numero

In [ ]:
for c in BOOLEAN_COLUMNS:
    train_values_parsed_numeric[c] = train_values_parsed_numeric[c].apply(lambda x: 1 if x else 0)
    train_values_parsed_numeric[c]

In [ ]:
train_values_parsed_numeric['has_superstructure_adobe_mud'].unique()

In [ ]:
train_values_parsed_numeric.dtypes

#### Guardo

In [ ]:
#train_values_parsed_numeric.to_csv('../'+PATH_DATA_PROCESSED+'train_values_parsed_numeric.csv', index=False)

In [7]:
#train_values_parsed_numeric_merged = train_values_parsed_numeric.merge(train_labels, on='building_id')

In [8]:
train_values_parsed_numeric_merged.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
0,802906,6,487,12198,2,30,6,5,1,1,...,0,0,0,0,0,0,0,0,0,3
1,28830,8,900,2812,2,10,8,7,2,1,...,0,0,0,0,0,0,0,0,0,2
2,94947,21,363,8973,2,10,5,5,1,1,...,0,0,0,0,0,0,0,0,0,3
3,590882,22,418,10694,2,10,6,5,1,1,...,0,0,0,0,0,0,0,0,0,2
4,201944,11,131,1488,3,30,8,9,1,1,...,0,0,0,0,0,0,0,0,0,3

In [6]:
#train_values_parsed_numeric_merged.to_csv('../'+PATH_DATA_PROCESSED+'train_values_parsed_numeric_damage.csv', index=False)

## Anomalias por funcion

In [3]:
train_values_parsed_numeric = pd.read_csv('../'+PATH_DATA_PROCESSED+'train_values_parsed_numeric.csv')

In [ ]:
columns_with_anomalies = get_columns_with_anomalies(train_values_parsed_numeric)

In [ ]:
plot_anomalies_with_function(train_values_parsed_numeric, columns_with_anomalies)

## Merge entre datasets para vincular nivel de daño con features para cada edificacion

In [ ]:
feature_damage = train_values.merge(train_labels)

In [ ]:
feature_damage.head()

In [ ]:
#feature_damage.to_csv('../'+PATH_DATA_PROCESSED+'feature_damage.csv', index=False)

In [ ]:
feature_damage